#entrar{
    margin-top: 20px;
    background-color: #FF7F00;
    right: 20px;
}

.cont{
    margin-top: 150px;
}

#cadastrar {
    margin-top: 20px;
    background-color: #B5B5B5;
    left: 20px;
}

.cont2{
    margin-top: 20px;
    position: static;
}

#texto{
    color: #FF7F00;
}

#salvar{
    margin-bottom: 15px;
    background-color: #FF7F00
}

#cadastrotext{
    color: #FF7F00;
}

.cont3{
    margin-top: 50px;
}

#cadastrar2{
    background-color: #FF7F00
}
